<div class="form-group">
    <label for="nombre" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-10">
        <input type="text" maxlength="255" required ng-model="producto.nombre" class="form-control" id="nombre" placeholder="Producto Nombre"/>
    </div>
</div>
<div class="form-group">
    <label for="descripcion" class="col-sm-2 control-label">Descripcion</label>
    <div class="col-sm-10">
        <textarea maxlength="500" required ng-model="producto.descripcion" class="form-control" id="descripcion" placeholder="Producto Descripcion"/></textarea>
    </div>
</div>

<div ng-include="'assets/partials/insumo/_list-form.html'"></div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>