<div class="form-group">
    <label for="nombre" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-10">
        <input type="text" required maxlength="255" ng-model="insumo.nombre" class="form-control" id="nombre" placeholder="Insumo Nombre"/>
    </div>
</div>
<div class="form-group">
    <label for="stock" class="col-sm-2 control-label">Stock</label>
    <div class="col-sm-10">
        <input type="number" required ng-model="insumo.stock" class="form-control" id="stock" placeholder="Insumo Stock"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>