<!DOCTYPE html>

<html data-ng-app="productoApp">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <base href="/productos"/>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/app.css")"/>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="productos">The Productos App</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a ui-sref="productos">productos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row top-buffer">
                <div class="col-xs-8 col-xs-offset-2">
                    <div ui-view></div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/angular.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/angular-ui-router.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/angular-resource.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/productoApp.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/productoControllers.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/productoServices.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/insumoServices.js")"></script>
    </body>
</html>
